# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Private Data & Assets
data_private/
*.csv
*.xlsx
scratch/

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local
